In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
# 액티브 중소법인 재무보유 sheet 별로 불러오기

df_active_summary_out = pd.read_excel('../dataset/액티브 중소법인 재무보유.xlsx', sheet_name='기업개요_외감')
df_active_summary = pd.read_excel('../dataset/액티브 중소법인 재무보유.xlsx', sheet_name='기업개요')
df_active_inactive = pd.read_excel('../dataset/액티브 중소법인 재무보유.xlsx', sheet_name='휴폐업이력')

# 휴폐업 중소법인 재무보유 sheet 별로 불러오기

df_inactive_summary = pd.read_excel('../dataset/휴폐업 중소법인 재무보유.xlsx', sheet_name='기업개요')
df_inactive_inactive = pd.read_excel('../dataset/휴폐업 중소법인 재무보유.xlsx', sheet_name='휴폐업이력')

In [3]:
# 개방데이터 레이아웃에서 한글칼럼명 가져오기

df_columns = pd.read_excel('../dataset/넘블 챌린지 개방데이터 레이아웃.xlsx', sheet_name='최종')
df_columns = pd.read_excel('../dataset/넘블 챌린지 개방데이터 레이아웃.xlsx', sheet_name='최종')

df_columns = df_columns[['영문칼럼명', '한글칼럼명']]
dict_columns = dict(zip(df_columns['영문칼럼명'], df_columns['한글칼럼명']))

In [4]:
# 액티브 중소법인 재무보유 영문칼럼명에서 한글칼럼명으로 바꾸기

df_active_summary_out.rename(columns = dict_columns, inplace=True)
df_active_summary.rename(columns = dict_columns, inplace=True)
df_active_inactive.rename(columns = dict_columns, inplace=True)

# 휴폐업 중소법인 재무보유 영문칼럼명에서 한글칼럼명으로 바꾸기

df_inactive_summary.rename(columns = dict_columns, inplace=True)
df_inactive_inactive.rename(columns = dict_columns, inplace=True)

In [6]:
df_inactive_summary.columns

Index(['사업자등록번호', '기업접두명', '기업명', '기업접미명', '기업영문명', '업종', '기업규모',
       '공기업구분 1.공기업 2.일반기업', '개인법인구분 1.법인 2.개인', '본점지점구분 1.본점 2.지점',
       '국외투자법인여부', '벤처기업여부', '상장코드', '산업코드차수', '산업코드1', '산업코드2', '산업코드3',
       '공공기관유형', '중견기업보호여부', '본점기업코드', '설립일자', '설립구분', '상장일자', '주요사업내용', '국가명',
       '홈페이지URL', '대표자명', '직원수'],
      dtype='object')

In [15]:
df_active_summary_out.columns

Index(['사업자등록번호', '기업접두명', 'CMP_NM1', '기업접미명', '기업영문명', '업종', '기업규모',
       '공기업구분 1.공기업 2.일반기업', '개인법인구분 1.법인 2.개인', '본점지점구분 1.본점 2.지점',
       '국외투자법인여부', '벤처기업여부', '상장코드', '산업코드차수', '산업코드1', '산업코드2', '산업코드3',
       '공공기관유형', '중견기업보호여부', '본점기업코드', '설립일자', '설립구분', '상장일자', '주요사업내용', '국가명',
       '홈페이지URL', '대표자명', '직원수'],
      dtype='object')

In [16]:
df_active_summary.columns

Index(['사업자등록번호', '기업접두명', '기업명', 'CMP_NM1', '기업접미명', '기업영문명', '업종', 'CMP_TYP',
       '기업규모', '공기업구분 1.공기업 2.일반기업', '개인법인구분 1.법인 2.개인', '본점지점구분 1.본점 2.지점',
       '국외투자법인여부', '벤처기업여부', '상장코드', '산업코드차수', '산업코드1', '산업코드2', '산업코드3',
       '공공기관유형', '중견기업보호여부', 'TAXN_TYP', '본점기업코드', '설립일자', '설립구분', '상장일자',
       '주요사업내용', '국가명', '홈페이지URL', '대표자명', '직원수'],
      dtype='object')

In [27]:
# drop column

drop_list_1 = ['기업명', '기업영문명', '홈페이지URL', '대표자명'] # no need
drop_list_2 = ['기업규모', '개인법인구분 1.법인 2.개인', '산업코드차수'] # CONSTANT
drop_list_3 = ['CMP_NM1', 'CMP_TYP', 'TAXN_TYP'] # only columns in active    

drop_list = drop_list_1 + drop_list_2 + drop_list_3
drop_list

['기업명',
 '기업영문명',
 '홈페이지URL',
 '대표자명',
 '기업규모',
 '개인법인구분 1.법인 2.개인',
 '산업코드차수',
 'CMP_NM1',
 'CMP_TYP',
 'TAXN_TYP']

In [34]:
# 필요없는 컬럼 드랍하기

df_active_summary_out = df_active_summary_out[[c for c in df_active_summary_out.columns if c not in drop_list]]
df_active_summary = df_active_summary[[c for c in df_active_summary.columns if c not in drop_list]]
df_inactive_summary = df_inactive_summary[[c for c in df_inactive_summary.columns if c not in drop_list]]

df_active_summary.columns

Index(['사업자등록번호', '기업접두명', '기업접미명', '업종', '공기업구분 1.공기업 2.일반기업',
       '본점지점구분 1.본점 2.지점', '국외투자법인여부', '벤처기업여부', '상장코드', '산업코드1', '산업코드2',
       '산업코드3', '공공기관유형', '중견기업보호여부', '본점기업코드', '설립일자', '설립구분', '상장일자',
       '주요사업내용', '국가명', '직원수'],
      dtype='object')

In [35]:
# Too many missing

# missing_list = ['상장코드', '산업코드2', '산업코드3', '본점기업코드', '상장일자', '국가명']

In [36]:
# 액티브 중소법인 재무보유 기업개요 합치기
# 휴폐업 중소법인 기업개요에서 외감 구분 컬럼이 없기 떄문에 활용가능성?

df_active_summary = pd.concat([df_active_summary_out, df_active_summary])
df_active_summary

,사업자등록번호,기업접두명,기업접미명,업종,공기업구분 1.공기업 2.일반기업,본점지점구분 1.본점 2.지점,국외투자법인여부,벤처기업여부,상장코드,산업코드1,...,산업코드3,공공기관유형,중견기업보호여부,본점기업코드,설립일자,설립구분,상장일자,주요사업내용,국가명,직원수
0,1138111739,NaN,(주),M,2,1,N,N,NaN,47712.0,...,NaN,0,N,NaN,19660419.0,1.0,NaN,LP Gas 충전 및 판매업,NaN,43.0
1,2078132193,(주),NaN,M,2,1,N,N,NaN,15190.0,...,NaN,0,N,NaN,19910806.0,1.0,NaN,가죽 및 대용가죽제품 제조업,NaN,35.0
2,1318167565,NaN,(주),M,2,1,N,N,NaN,49212.0,...,NaN,0,N,NaN,20011030.0,1.0,NaN,시내버스업,NaN,149.0
3,5048128251,(주),NaN,M,2,1,N,N,NaN,30391.0,...,NaN,0,N,NaN,19990112.0,1.0,NaN,자동차 부품 제조,NaN,75.0
4,1098164260,(주),NaN,M,2,1,N,N,NaN,46800.0,...,NaN,0,N,NaN,20000531.0,1.0,NaN,골프용품 전반의 제조 및 수출업,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198646,6208701973,(주),NaN,M,2,1,N,N,NaN,18113.0,...,NaN,0,N,NaN,20200925.0,1.0,NaN,"인쇄, 지함, 코팅, 디자인",NaN,NaN
198647,3688702720,NaN,(주),M,2,1,N,N,NaN,41226.0,...,NaN,0,N,NaN,20220721.0,1.0,NaN,"조경공사, 토목공사",NaN,13.0
198648,4868602701,(주),NaN,M,2,1,N,N,NaN,58222.0,...,NaN,0,N,NaN,20220801.0,1.0,NaN,"소프트웨어 자문, 개발 및 공급업",NaN,NaN
198649,2528101633,(주),NaN,M,2,1,N,N,NaN,58222.0,...,NaN,0,N,NaN,20200106.0,1.0,NaN,UX디자인 및 프로그래밍,NaN,NaN
198650,2208880488,NaN,NaN,M,2,1,N,N,NaN,NaN,...,NaN,0,N,NaN,20140531.0,1.0,NaN,NaN,NaN,NaN

In [45]:
# 기업접두, 접미 처리하기

def head_tail_processing(series):
    if series:
        return series

In [57]:
df_active_summary['기업접두명'].apply(head_tail_processing).value_counts()

(주)    214046
(유)      3925
(자)       428
(합)        77
(재)        19
(사)         8
(의)         2
(복)         1
Name: 기업접두명, dtype: int64

In [40]:
df_active_summary[['기업접두명', '기업접미명']]

       기업접두명 기업접미명
0        NaN   (주)
1        (주)   NaN
2        NaN   (주)
3        (주)   NaN
4        (주)   NaN
...      ...   ...
198646   (주)   NaN
198647   NaN   (주)
198648   (주)   NaN
198649   (주)   NaN
198650   NaN   NaN

[314579 rows x 2 columns]